appdirs==1.4.4
certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
distlib==0.3.1
et-xmlfile==1.1.0
idna==3.2
numpy==1.21.2
openpyxl==3.0.9
pandas==1.3.3
pipenv==2020.8.13
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
selenium==3.141.0
six==1.16.0
urllib3==1.24.3
virtualenv==20.0.33
webdriver-manager==3.4.2
